.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    padding-right: 16px;
    margin: 0 auto;
    height: 104px;
    margin-bottom: 72px;
    border-bottom: 1px solid #E7E7E7;
    background-color: #FFF;
}

.header-logo {
    width: 138px;
    height: 29px;
    background-image: url('/public/img/Bookstore.png');
    background-position: center center;
    background-size: 100%;
}

.header-search {
    position: relative;
}

.header-search .search-input {
    border: 1px solid #E7E7E7;
    width: 542px;
    padding: 12px 20px 12px 20px;
}

.header-search .search-icon {
    width: 20px;
    height: 20px;
    background-image: url('/public/img/Search.png');
    background-position: center center;
    background-size: 100%;
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}

.header-control {
    display: flex;
}

.header-control button:first-child {
    margin-left: 0;
}

.header-control button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-left: 40px;
    background-position: center center;
    background-size: 100%;
    border: none;
    cursor: pointer;
    outline: none;
}

.user-favorites {
    background-image: url('/public/img/heart.png');
}

.user-cart {
    background-image: url('/public/img/shopping-bag.png');
}

.user-profile {
    background-image: url('/public/img/user.png');
}

.burger {
    background-image: url('/public/img/burger.png');
    display: none;
}

.close {
    background-image: url('/public/img/close.png');
    z-index: 1000;
}

.burger-menu {
    background-color: #FFF;
    height: 100vh;
    width: 368px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 40px 56px 40px;
    z-index: 999;
}

.burger-menu .header-search {
    display: block;
    margin-bottom: 48px;
}

.burger-menu .header-search > input {
    width: 287px !important;
}

.burger-menu button {
    display: block;
    background: none;
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 44px;
}

.burger-menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E7E7E7;
    margin-top: 104px;
    padding-top: 56px;
    height: 100%;
}

.burger-menu .user-favorites-menu-button {
    margin-bottom: 48px;
}

.burger-menu .button {
    position: absolute;
    bottom: 56px;
}

.blur {
    height: 100%;
    width: 100vw;
    background-color: rgba(49, 48, 55, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
}

html:has(.burger-menu) {
    overflow: hidden;
} 

@media (max-width: 1000px) {
    .header-search .search-input {
        width: 350px;
    }
}

@media (max-width: 800px) {
    .header-search {
        display: none;
    }

    .user-favorites, .user-profile {
        display: none;
    }

    .burger, .close {
        display: block;
    }
}

@media (max-width: 560px) {
    .header-logo {
        width: 122px;
        height: 25px;
    }
}


@media (max-width: 450px) {
    .burger-menu {
        width: 100%;
    }
}